/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav a:hover {
    color: #f0f0f0;
}

/* Estilos de los planes */
#planes {
    margin-top: 20px;
}

.plan {
    background-color: #444;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s ease-out; /* Transición suave cuando se hace visible */
}

.plan h2 {
    margin-top: 0;
}

button {
    background-color: #5e5eff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #4d4dff;
}

/* Estilo para mostrar los planes */
.plan.visible {
    opacity: 1; /* Cuando esté visible, tendrá opacidad 1 */
}

/* Estilo para ocultar los planes */
.oculto {
    display: none;
}